<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>aboutme</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/newss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <servlet-class>controller.AdminIndexCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <url-pattern>/admin/comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCommentController</servlet-name>
    <servlet-class>controller.AdminDelCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCommentController</servlet-name>
    <url-pattern>/admin/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexInforController</servlet-name>
    <servlet-class>controller.AdminIndexInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexInforController</servlet-name>
    <url-pattern>/admin/infors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddInforController</servlet-name>
    <servlet-class>controller.AdminAddInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddInforController</servlet-name>
    <url-pattern>/admin/infor/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditInforController</servlet-name>
    <servlet-class>controller.AdminEditInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditInforController</servlet-name>
    <url-pattern>/admin/infor/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelInforController</servlet-name>
    <servlet-class>controller.AdminDelInforController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelInforController</servlet-name>
    <url-pattern>/admin/infor/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexSkillController</servlet-name>
    <servlet-class>controller.AdminIndexSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexSkillController</servlet-name>
    <url-pattern>/admin/skills</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddSkillController</servlet-name>
    <servlet-class>controller.AdminAddSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSkillController</servlet-name>
    <url-pattern>/admin/skill/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSkillController</servlet-name>
    <servlet-class>controller.AdminDelSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSkillController</servlet-name>
    <url-pattern>/admin/skill/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSkillController</servlet-name>
    <servlet-class>controller.AdminEditSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSkillController</servlet-name>
    <url-pattern>/admin/skill/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexProjectController</servlet-name>
    <servlet-class>controller.AdminIndexProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexProjectController</servlet-name>
    <url-pattern>/admin/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddProjectController</servlet-name>
    <servlet-class>controller.AdminAddProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProjectController</servlet-name>
    <url-pattern>/admin/project/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditProjectController</servlet-name>
    <servlet-class>controller.AdminEditProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProjectController</servlet-name>
    <url-pattern>/admin/project/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelProjectController</servlet-name>
    <servlet-class>controller.AdminDelProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProjectController</servlet-name>
    <url-pattern>/admin/project/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexChangduongController</servlet-name>
    <servlet-class>controller.AdminIndexChangduongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexChangduongController</servlet-name>
    <url-pattern>/admin/changduongs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddChangduongController</servlet-name>
    <servlet-class>controller.AdminAddChangduongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddChangduongController</servlet-name>
    <url-pattern>/admin/changduong/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditChangduongController</servlet-name>
    <servlet-class>controller.AdminEditChangduongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditChangduongController</servlet-name>
    <url-pattern>/admin/changduong/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelChangduongController</servlet-name>
    <servlet-class>controller.AdminDelChangduongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelChangduongController</servlet-name>
    <url-pattern>/admin/changduong/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNewsController</servlet-name>
    <servlet-class>controller.PublicNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNewsController</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAboutController</servlet-name>
    <servlet-class>controller.PublicAboutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAboutController</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicExpController</servlet-name>
    <servlet-class>controller.PublicExpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicExpController</servlet-name>
    <url-pattern>/exp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicProjectController</servlet-name>
    <servlet-class>controller.PublicProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicProjectController</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSkillController</servlet-name>
    <servlet-class>controller.PublicSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSkillController</servlet-name>
    <url-pattern>/skill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIdNewsController</servlet-name>
    <servlet-class>controller.PublicIdNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIdNewsController</servlet-name>
    <url-pattern>/idnews</url-pattern>
  </servlet-mapping>
</web-app>